<!DOCTYPE html>
<html>
<head>
    <title>Readers List</title>
</head>
<body>
    <h1>Readers</h1>
    <ul>
        {% for reader in readers %}
            <li>
                <a href="{% url 'reader_detail' reader.id %}">{{ reader.first_name }} {{ reader.last_name }}</a>
                <ul>
                    {% for loan in reader.loans.all %}
                        <li>{{ loan.book.title }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>